#Page2Content_OnlineChart1 {
  top: 0px;
  position: absolute;
}

#Page2Content_OnlineChart1 {
  left: 0px;
  position: absolute;
}

#Page2Content_OnlineChart1 {
  width: 700px;
}

#Page2Content_OnlineChart1 {
  height: 600px;
}

#Page2Content_OnlineChart1 {
  z-index: 0;
}

#Page2Content_OnlineChartTimeAxis1 {
  height: 50px;
}

#Page2Content_OnlineChartTimeAxis1 {
  flex-basis: 50px;
}

#Page2Content_OnlineChartTimeAxis1 {
  z-index: 0;
}

#Page2Content_OnlineChartYAxis1 {
  width: 60px;
}

#Page2Content_OnlineChartYAxis1 {
  flex-basis: 60px;
}

#Page2Content_OnlineChartYAxis1 {
  z-index: 1;
}

#Page2Content_OnlineChartGraph1 {
  z-index: 0;
}

#Page2Content_OnlineChartGraph1_breaseChartYValueList_line.disabled.graph {
  stroke: black;
}

#Page2Content_OnlineChartGraph1.breaseChartYValueListWidget.editMode.disabled {
  border-color: black;
}
